<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<meta name="keywords" content="#{@meta.meta_keywords}">) if @meta.meta_keywords.present? -%>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application' %>
  <% if refinery_user? && "#{controller_name}##{action_name}" != 'pages#preview' %>
    <% unless admin? # all required JS included by backend. %>
      <%= stylesheet_link_tag 'admin' %>
      <% content_for :javascripts do %>
        <%= javascript_include_tag 'frontend_admin' %>
      <% end %>
    <% end -%>
  <% end %>
</head>
